:root {
--scheme-brand-100: #000625;
--scheme-brand-200: #001635;
--scheme-brand-300: #004565;
--scheme-brand-400: #006283;
--scheme-brand-500: #007fa1;
--scheme-brand-600: #23a5c8;
--scheme-brand-600-15: rgba(35,165,200,0.15);
--scheme-brand-600-30: rgba(35,165,200,0.3);
--scheme-brand-600-50: rgba(35,165,200,0.5);
--scheme-brand-700: #4bc1e5;
--scheme-brand-800: #73e6ff;
--scheme-brand-900: #81f3ff;
--scheme-brand-1000: #95ffff;
--scheme-brand-1100: #a0ffff;
--scheme-brand-1200: #a0ffff;

--scheme-accent-100: #1e0000;
--scheme-accent-200: #370000;
--scheme-accent-300: #860000;
--scheme-accent-400: #b80011;
--scheme-accent-500: #e02b36;
--scheme-accent-600: #ff5e5e;
--scheme-accent-600-15: rgba(255,94,94,0.15);
--scheme-accent-600-30: rgba(255,94,94,0.3);
--scheme-accent-600-50: rgba(255,94,94,0.5);
--scheme-accent-700: #ff9892;
--scheme-accent-800: #ffbeb5;
--scheme-accent-900: #ffbeb5;
--scheme-accent-1000: #ffbeb5;
--scheme-accent-1100: #ffbeb5;
--scheme-accent-1200: #ffbeb5;

--scheme-neutral-100: #09090c;
--scheme-neutral-200: #16161a;
--scheme-neutral-300: #3f3f44;
--scheme-neutral-400: #5a5a5f;
--scheme-neutral-500: #747479;
--scheme-neutral-600: #94959a;
--scheme-neutral-600-15: rgba(148,149,154,0.15);
--scheme-neutral-600-30: rgba(148,149,154,0.3);
--scheme-neutral-600-50: rgba(148,149,154,0.5);
--scheme-neutral-700: #b3b3b9;
--scheme-neutral-800: #d3d3da;
--scheme-neutral-900: #e0e1e7;
--scheme-neutral-1000: #eeeef4;
--scheme-neutral-1100: #f4f4fb;
--scheme-neutral-1200: #fbfbff;
}